<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dane z Czujników</title>
</head>
<body>

<table>
    <thead>
        <tr>
            <th>Czujnik</th>
            <th>Opis</th>
            <th>Pomiar</th>
            <th>Wartość</th>
            <th>Data</th>
        </tr>
    </thead>

    <tbody>
    <tr th:each="sensor: ${allSensors}">
        <td th:text="${sensor.name}"></td>
        <td th:text="${sensor.description}"></td>
        <td th:text="${sensor.sensorData.get(0).name}"></td>
        <td th:text="${sensor.sensorData.get(0).value}"></td>
        <td th:text="${sensor.date}"></td>
    </tr>
    </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Użytkownik</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user: ${allUsers}">
        <td th:text="${user.name}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>